$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

/* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-left: 15px;
//   padding-right: 15px;
// }
// dark blue 00228f
// light blue b3e9ed
// lavender 96afd6

$dark-blue: #00228f;
$light-blue: #b3e9ed;
$lavender: #96afd6;

/* Custom page header */
.header {
  position: fixed;
  top: 0;
  left: 0;

  -webkit-box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 20px 0px rgba(0,0,0,0.75);
  
  height: 117px;
  background-color: $dark-blue !important;

  .backButton {
    width: 99px;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    float: left;

    padding-top: 35px;
  }

  .headerImage {
    float: left;
    background-image: url('/images/riksidrotts.png');
    background-repeat: no-repeat;
    background-position: left; 
    width: 970px;
    height: 100%;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.header,
.footer {
  text-align: center;
  
  width: 100%;
  background-color: white;
}

/* Custom page footer */
.footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: $dark-blue;
  border-top: 1px solid #e5e5e5;
}

a, a:visited {
  color: $dark-blue;
}


.content {
  margin-top: 120px;
  margin-bottom: 50px;
}

.container-narrow > hr {
  margin: 30px 0;
}

h1 {
  margin: 0;
  padding: 0;
}


.userStats {
  text-align: center;
  clear: left;
  height: 80px;
  background-color: $light-blue;
  margin-bottom: 10px;
  .statCol {
    float: left;
    width: 25%;
  }


}

.statHeader {
  font-weight: bold;
  background-color: white;
  height:40px;

}

.gifs {
  float: left;
  width: 480px;
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
