<div class="userStats">
  <div class="statCol">
    <h2>{{selectedUser.number}}</h2>
  </div>
  <div class="statCol">
    <h2>{{selectedUser.name}}</h2>
  </div>
  <div class="statCol heartrate">
    <h2>{{selectedUser.heartRate}}</h2>
  </div>
  <div class="statCol numSteps">
    <h2>{{selectedUser.steps}}</h2>
  </div>
</div>
<div>
  <div>
    <div class="gifs">
      <iframe src="http://giphy.com/embed/rTufOawXrSsow?html5=true" width="370" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="gifs">
      <iframe src="http://giphy.com/embed/TXiPxZr4jqfUk?html5=true" width="370" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="gifs">
      <iframe src="http://giphy.com/embed/qtXqB7pVCia5O?html5=true" width="370" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
  <div>
    <div class="gifs">
      <h1>
        {{selectedUser.reaction}} {{strings.seconds}}
      </h1>
    </div>
    <div class="gifs">
      <h1>
        {{selectedUser.throwing}} km/hr
      </h1>
    </div>
    <div class="gifs">
      <h1>
        {{selectedUser.heartRate}} bpm
      </h1>
    </div>
  </div>
</div>