<div class="userStats statHeader">
  <div class="statCol">
    <h1>#</h1>
  </div>
  <div class="statCol">
    <h1><i class="fa fa-tasks"></i></h1>
  </div>
  <div class="statCol heartrate">
    <h1><i class="fa fa-heart"></i></h1>
  </div>
  <div class="statCol numSteps">
    <h1><i class="fa fa-paw"></i></h1>
  </div>
</div>
<div class="userStats" ng-repeat="user in users" ng-click="selectUser(user)">
  <div class="statCol">
    <h2>{{user.number}}</h2>
  </div>
  <div class="statCol">
    <h2>{{user.name}}</h2>
  </div>
  <div class="statCol heartrate">
    <h2>{{user.heartRate}}</h2>
  </div>
  <div class="statCol numSteps">
    <h2>{{user.steps}}</h2>
  </div>
</div>